# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

settings.gradle
build.gradle
config/
gradle/
gradlew
gradlew.bat

# Ignore Eclipse 
.settings/
.classpath
.project
bin/
doc/